/* zhi-mang-xing-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Zhi Mang Xing';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/zhi-mang-xing-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  };
  
/* catamaran-500 - latin */
@font-face {
    font-display: swap; 
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/catamaran-v19-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  };
  
/* mr-dafoe-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Mr Dafoe';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/mr-dafoe-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  };


  