@use "reset";
@use "variables";

.BurgerMenuPopUp {
  background-color: variables.$myWhite;
  font-family: variables.$catamaran;
  position: fixed;
  z-index: 3;
  top: 55px;
  right: 3px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: #72797a;
  border-radius: 10px;
  padding: 10px;

  button {
    padding: 10px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    background: linear-gradient(145deg, #9ea7a9, #cfe1e4);
    box-shadow:
      11px 11px 18px #72797a,
      -11px -11px 18px #ecfbfe;
  }
}

@media (min-width: variables.$breakpoint-large) {
  .BurgerMenuPopUp {
    visibility: hidden;
  }
}
